<html lang="en">
 {%block head %} <head>
    <title>My Message in a Bottle -- Primer</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <meta charset="utf-8">
  </head> {%endblock%}
  <body onload="init()"class="p-centered" style="width:45%;">
   {%block navbar %} <header class="navbar" style="margin-top: 4%;">
      <section class="navbar-section">
        <a href="/" class="btn btn-link"><i class="icon icon-menu"></i>  Home</a>
        <a href="/myaccount" class="btn btn-link"><i class="icon icon-people"></i> My account</a>
        <a href="/message/new" class="btn btn-link"><i class="icon icon-message"></i> Send a message</a>
        <a href="/messages/send" class="btn btn-link"><i class="icon icon-time"></i> Draft and send</a>
        <a href="/lottery" class="btn btn-link"><i class="icon icon-apps"></i> Lottery</a>
        <a href="/users" class="btn btn-link"><i class="icon icon-people"></i> List of users</a>
        <a href="/messages" class="btn btn-link"><i class="icon icon-mail"></i> Mailbox</a>
      </section>
    </header> {% endblock %}
   <div id="content_body"> {%block content %}{%endblock%}</div>
   {%block script %}{%endblock%}
  </body>
</html>
    

