<html>
  <body>
    <h1>Message List</h1>
    <ul>
      {% for msg in messages: %}
      <li>
        {%if msg is None%}
        Your mailbox is empty!
        {%endif%}
      </li>
      <li>
      ___________________________________________________ <br>
      sender: {{msg.sender}} <br>
      receiver: {{msg.receiver}} <br>
      date of delivery: {{msg.date_of_delivery}} <br>
      content: <br>
      {{msg.content}} <br>
      ___________________________________________________ <br>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
