{% extends "base.html"%}
{%block content %}
    <h1>My Message in a Bottle </h1>

  {% if current_user.is_authenticated %}
  <div class="hero bg-gray">
    <div class="hero-body">
      <h2>Hi {{ current_user.firstname }} !</h2>
      <p>Welcome to Message in a bottle ! Send new message or check your mailbox !</p>
      <a href="/logout" class="btn btn-primary">Logout</a>
    </div>
  </div>
  {% else %}
 <div >
                <div class="empty">
                  <div class="empty-icon"><i class="icon icon-3x icon-people"></i></div>
                  <p class="empty-title h5">Your are not login to the website</p>
                  <p class="empty-subtitle">To use Message in the bottle please login or create a new account</p>
                  <div class="empty-action input-group input-inline">
                    <a href="/login" class="btn btn-primary" style="margin-right: 6%;">Login</a>
                    <a href="/create_user" class="btn btn-primary">Register</a>
                  </div>
                </div>
              </div>
  {% endif %}
{% endblock %}