{% extends "base.html"%}
{%block content %}
        <h1>Lottery Board</h1>
        <p >{{action}}</p>

        <div id="tabellone"></div>
{%endblock%}
{%block script %}
<script>
  var _action = '{{action}}';
  function init() {
    var e = document.getElementById("tabellone");
    var row = 11;
    var col = 9;
    var output = "<table>";
    for (i=0; i<row; i++) {
        output += "<tr>";
        for (j=1; j<=col+1; j++) {
            var n = i*10+j;
            if(n<10){
              output += "<td>"+"<button id='"+ n +"' onclick='selectNumber(\""+n+"\")' class='"+"btn btn-primary btn-lg'>"+0+n+"</button> </td>";
            }
            if((n >= 10) && (n < 100)){
              //output += "<td id='"+ n +"' onclick='selectNumber(\""+n+"\")'>"+"<button class='"+"btn btn-primary btn-lg' label-primary>"+n+"</button> </td>";
              output += "<td>"+"<button id='"+ n +"' onclick='selectNumber(\""+n+"\")' class='"+"btn btn-primary btn-lg'>"+n+"</button> </td>";
            }
          }
        output += "</tr>";
    }
    output += "</table>";
    e.innerHTML = output;
  }

  function selectNumber(id){
    var e = document.getElementById(id);
    //fetch(`/lottery/${id}`, {method: "POST"}).then(function(res){ return res.json();}).then(function(data){})
    var xmlHttp = new XMLHttpRequest();
    theUrl = `/lottery/${id}`;
    xmlHttp.open( "POST", theUrl, false );
    xmlHttp.send(null);
    window.location.reload();
    if (_action == "You have selected no number yet, hurry up! Luck is not waiting for you!"){
      e.style.backgroundColor = "#cfb2ff";
    }
  };

</script>
{%endblock%}