<html lang="en">
  <head>
    <title>My Message in a Bottle -- Primer</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <meta charset="utf-8">
  </head>
  <body class="p-centered" style="width:30%;">
    <header class="navbar" style="margin-top: 4%;">
      <section class="navbar-section">
        <a href="/" class="btn btn-link"><i class="icon icon-menu"></i>  Home</a>
        <a href="/myaccount" class="btn btn-link"><i class="icon icon-people"></i> My account</a>
        <a href="/message/new" class="btn btn-link"><i class="icon icon-message"></i> Send a message</a>
        <a href="/messages/send" class="btn btn-link"><i class="icon icon-time"></i> Draft and send</a>
        {% if new_msg>0 %}<a href="/messages" class="btn btn-link badge"  data-badge="{% if new_msg>9 %}9+{%else%}{{new_msg}}{%endif%}" ><i class="icon icon-mail"></i> Mailbox</a>
        {% else %}<a href="#" class="btn btn-link"><i class="icon icon-mail"></i> Mailbox</a>{% endif %} 
      </section>
    </header>
    <h1>Mail box </h1>
    <div class="card">
      <div class="card-header">
        <a href="/messages" class="btn btn-link"><button class="btn btn-link" "><i class="icon icon icon-arrow-left"></i></button></a>
        <div style="float: right;">
          <button class="btn tooltip" data-tooltip="Forward message" onclick="forward()"><i class="icon icon icon-share"></i></button>
          <button class="btn tooltip" data-tooltip="Reply" onclick="reply()"><i class="icon icon icon-forward"></i></button>
          <button class="btn btn-error tooltip" data-tooltip="Delete message" onclick="openmodal()"><i class="icon icon icon-delete"></i></button> </div>
    <h2>{{message.title}}</h2>
    <h6>{{message.sender}} </h6>
      </div>
    <div class="card-body" style="white-space: pre-line" id="content"> {{message.content}} 
      <div class="card-image" id="image">
     
    </div>
    </div>
    <div class="modal " id="delete_modal">
      <a href="#close" class="modal-overlay" aria-label="Close"></a>
      <div class="modal-container">
        <div class="modal-header">
          <a href="#close" class="btn btn-clear float-right" aria-label="Close" onclick="closemodal()"></a>
          <div class="modal-title h5">Are you sure to delete this message ?</div>
        </div>
        <div class="modal-body">
          <div class="content">
            The message will be reove definitly
          </div>
        </div>
        <div class="modal-footer">
          <button onclick="senddelete()" class="btn btn-error" >Delete</button>
          <button onclick="closemodal()" class="btn btn-link" >Close</button>
        
  
        </div>
      </div>
    </div>
    <script>
      
       var msg_id = '{{message.id}}'
       var list = {{pictures|safe }} 
       list.forEach(function(item){
        document.querySelector("#image").innerHTML = "<img class=\" img-responsive\"src=\"data:;base64,"+item+"\"/>" + document.querySelector("#image").innerHTML
        });
      function forward() {
        console.log()
        fetch("/message/forward",
      {
      method: "POST",
      body: document.querySelector("#content").innerHTML
      }).then(function(res){ return res.json(); })
      .then(function(data){

      })
      }
     
      function reply(){
        console.log(msg_id)
        window.location.replace('/message/reply/'+msg_id);       
      }
      function openmodal(){
    document.getElementById("delete_modal").classList.add('active');
   }
   function closemodal(){
    document.getElementById("delete_modal").classList.remove('active');
   }
   function senddelete(){
    fetch('message/'+msg_id,{
    method:'DELETE'
    })
   }
    </script>
  </body>
