{% extends "base.html"%}
{%block content %}
    <h1>Mail box </h1>
    <div class="card">
      <div class="card-header">
        <a href="/messages" class="btn btn-link"><button class="btn btn-link" "><i class="icon icon icon-arrow-left"></i></button></a>
        <div style="float: right;">
          <button class="btn tooltip" data-tooltip="Forward message" onclick="forward()"><i class="icon icon icon-share"></i></button>
          <button class="btn tooltip" data-tooltip="Reply" onclick="reply()"><i class="icon icon icon-forward"></i></button>
          <button class="btn btn-error tooltip" data-tooltip="Delete message" onclick="openmodal()"><i class="icon icon icon-delete"></i></button> </div>
    <h2>{{message.title}}</h2>
    <h6>{{message.sender}} </h6>
      </div>
    <div class="card-body" font = {{message.font}} style="white-space: pre-line; font-family: font" id="content"> {{message.content}} 
      <div class="card-image" id="image">
     
    </div>
    </div>
    <div class="modal " id="delete_modal">
      <a href="#close" class="modal-overlay" aria-label="Close"></a>
      <div class="modal-container">
        <div class="modal-header">
          <a href="#close" class="btn btn-clear float-right" aria-label="Close" onclick="closemodal()"></a>
          <div class="modal-title h5">Are you sure to delete this message ?</div>
        </div>
        <div class="modal-body">
          <div class="content">
            The message will be reove definitly
          </div>
        </div>
        <div class="modal-footer">
          <button onclick="senddelete()" class="btn btn-error" >Delete</button>
          <button onclick="closemodal()" class="btn btn-link" >Close</button>
        
  
        </div>
      </div>
    </div>
    {%endblock%}
    {%block script%}
    <script>
      
       var msg_id = '{{message.id}}'
       var list = {{pictures|safe }} 
       list.forEach(function(item){
        document.querySelector("#image").innerHTML = "<img class=\" img-responsive\"src=\"data:;base64,"+item+"\"/>" + document.querySelector("#image").innerHTML
        });
      function forward() {
        console.log()
        fetch("/message/forward",
      {
      method: "POST",
      body: document.querySelector("#content").innerHTML
      }).then(function(res){ return res.json(); })
      .then(function(data){

      })
      }
     
      function reply(){
        console.log(msg_id)
        window.location.replace('/message/reply/'+msg_id);       
      }
      function openmodal(){
    document.getElementById("delete_modal").classList.add('active');
   }
   function closemodal(){
    document.getElementById("delete_modal").classList.remove('active');
   }
   function senddelete(){
    fetch('message/'+msg_id,{
    method:'DELETE'
    })
   }
    </script>
{%endblock%}