<html lang="en">
  <head>
    <title>My Message in a Bottle -- Primer</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <meta charset="utf-8">
  </head>
  <body class="p-centered" style="width: 30%;">
    <header class="navbar" style="margin-top: 4%;">
      <section class="navbar-section">
        <a href="/" class="btn btn-link"><i class="icon icon-menu"></i>  Home</a>
        <a href="/myaccount" class="btn btn-link"><i class="icon icon-people"></i> My account</a>
        <a href="/message/new" class="btn btn-link"><i class="icon icon-message"></i> Send a message</a>
        <a href="#" class="btn btn-link"><i class="icon icon-mail"></i> Mailbox</a>
      </section>
    </header>
    <div class="empty">
      <div class="empty-icon">
        <i class="icon icon-3x icon-mail"></i>
        <i class="icon icon-2x icon-forward"></i>
      </div>
      <p class="empty-title h5">Your message have been send</p>
      <p class="empty-subtitle">All the destinator will receive the message on the delivery date</p>
      <div class="empty-action">
        
      </div>
    </div>
   
 </body>
</html>