<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  </head>
 <body>
<h1>My Message in a Bottle -- Primer</h1>

 <h2>Firstname : {{ current_user.firstname }}</h2>  
 <h2>Lastname : {{ current_user.lastname }}</h2>
 <h2>Email : {{ current_user.email }}</h2>
 <h2>Date of birth : {{ current_user.date_of_birth.strftime('%d/%m/%Y') }}</h2>
 <button onclick="senddelete()" class="btn btn-danger" >Delete my account</button>
 <script>
   function senddelete(){
    fetch('/myaccount', {
      method: 'DELETE'
    }).then(response => {
      if (response.redirected) {
        window.location.replace(response.url);
      }
    })
   };
 </script>
 </body>
 </html>