{% extends "base.html"%}
{%block content %}
   <h1>
     Send a new message
   </h1>
   <form >
    <dl>
     <dt><label for="destinator">Destinator</label></dt>
     <dd>
      <div class="form-autocomplete">
        <!-- autocomplete input container -->
        <div class="form-autocomplete-input form-input" >
          <!-- autocomplete real input box -->
          <div id="list_dest">
            <div class="chip">{{reply.firstname}} {{reply.lastname}} </div>
          </div>
          <input class="form-input" type="text" id="destinator" placeholder="Search for destinator">
        </div>
        <ul class="menu" style="visibility: hidden;" id="menu_propositions">
          <!-- menu list items -->
          <li class="menu-item">
            <a href="#">
              <div class="tile tile-centered">
                <div class="tile-icon" id="proposition">
                  <div class="loading"></div>
                </div>
                
              </div>
            </a>
          </li>
        </ul>
      </div>
      </dd>
     <dt><label for="title">Title</label></dt>
     <dd><input id="title" name="title" required="" type="text" value="Re : [{{reply.title}}]" style="width: -moz-available;"></dd>
     <dt><label for="images">Upload images</label></dt>
     <dd><input id="images" multiple type="file" name="images" accept="image/*"/></dd>
     <dt><label for="content">Content</label></dt>
     <dd><textarea id="content" name="content" style="width: -moz-available; height: 30%;"></textarea></dd>
    </dl>
    <p>
    <input value="Send message" class="btn btn-primary" onclick="openmodal()">
  </p></form>
  <div class="modal " id="date_of_delivery_moda">
    <a href="#close" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container">
      <div class="modal-header">
        <a href="#close" class="btn btn-clear float-right" aria-label="Close" onclick="closemodal()"></a>
      </div>
    <div class="modal-body">
      <div class="empty">
        <div class="empty-icon">
          <i class="icon icon-3x icon-mail"></i>
        </div>
        <p class="empty-title h5">Please select a delivery date </p>
        <p class="empty-subtitle">The message will be deliver all the destinators on the choosen date. Even if the destinator unsuscribe a email will be send.</p>
        
        <div class="empty-action">
          <input id="date_of_delivery" type="date">
          <input id="time" type="time">
          <div id="return" style="margin-top: 1%;"> 
          </div>        
        </div>
      </div>
      <div class="modal-footer">
        <button onclick="sendmessage()" class="btn btn-primary" >Send message</button>
        <button onclick="closemodal()" class="btn btn-link" >Close</button>
      </div>
    </div>
  </div>
  </div>
  {%endblock%}
  {%block script %}
  <script>
    // Reply filling 
    // Code for send the message 
    function sendmessage(){
      var payload = {
        destinator :list_destinator,
        title : document.getElementById("title").value,
        date_of_delivery : document.getElementById("date_of_delivery").value,
        time_of_delivery : document.getElementById("time").value,
        content : document.getElementById("content").value,
      }
      var images = document.getElementById("images")
      var formData = new FormData();
      formData.append("payload", JSON.stringify(payload))
      for(var i=0;i<images.files.length;i++) {
        formData.append('file'+i, images.files.item(i));    
      }
      //checking payload
      fetch("/message/new",
      {
      method: "POST",
      body: formData
      }).then(function(res){ return res.json(); })
      .then(function(data){
        if(data["message"]=="OK"){
          window.location.replace("/message/send");
        }
        else if (data["message"]=="CONTENT FILTER")
        {
          window.location.replace("/message/reject")
        }
        else{
        document.querySelector('#return').innerHTML = `<div class="toast toast-error" >
            Error : `+data["message"]+`
          </div> `}
      })
    }
       function openmodal(){
    document.getElementById("date_of_delivery_moda").classList.add('active');
   }
   function closemodal(){
    document.getElementById("date_of_delivery_moda").classList.remove('active');
   }

   const input = document.querySelector('#destinator');
   var new_user_id;
   var new_user_name;
   var list_destinator=[];
   list_destinator.push({{reply.sender}})
    input.addEventListener('keyup', updateValue);
    function updateValue(e) {
      if(input.value.length>0){
        document.querySelector('#menu_propositions').style.visibility = 'visible';
        fetch("/users/start/"+input.value,{
      method:"GET",
    }).then(function(res){ return res.json(); })
      .then(function(data){
        if(Object.keys(data).length === 0){
        document.querySelector('#proposition').innerHTML= ` <div class="loading"></div>`
        }else{
          new_user_name = data.firstname + " " +data.lastname
          document.querySelector('#proposition').innerHTML= `<div onclick="adduser()">`+new_user_name+" "+data.email +`</div>`
          new_user_id = data.id
        }
      })
      }else{document.querySelector('#menu_propositions').style.visibility = 'hidden';}
    }
    function adduser(){
       destinators = document.querySelector('#list_dest')
       list_destinator.push(new_user_id)
       input.value = ""
       document.querySelector('#menu_propositions').style.visibility = 'hidden'
      destinators.innerHTML =destinators.innerHTML+`    <div class="chip">`+new_user_name+` </div>`  
    }
    
  </script>
{%endblock%}