<html lang="en">
  <head>
    <title>My Message in a Bottle -- Primer</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="spectre-exp.min.css">
    <link rel="stylesheet" href="spectre-icons.min.css">
    <meta charset="utf-8">
  </head>
  <body>
    <header class="navbar" style="margin-top: 1%;">
      <section class="navbar-section">
        <a href="/" class="btn btn-link">Home</a>
        <a href="/myaccount" class="btn btn-link">My account</a>
        <a href="/message/new" class="btn btn-link">Send a message</a>
        <a href="#" class="btn btn-link badge" data-badge="8">Mailbox</a>
      </section>
    </header>
    <h1>User List</h1>
    <ul>
      {% for user in users: %}
      <li>
      {{user.firstname}} {{user.lastname}}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
