<html lang="en">
  <head>
    <title>My Message in a Bottle -- Primer</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <meta charset="utf-8">
  </head>
  <body class="p-centered" style="width: 30%;">
    <header class="navbar" style="margin-top: 4%;">
      <section class="navbar-section">
        <a href="/" class="btn btn-link"><i class="icon icon-menu"></i>  Home</a>
        <a href="/myaccount" class="btn btn-link"><i class="icon icon-people"></i> My account</a>
        <a href="/message/new" class="btn btn-link"><i class="icon icon-message"></i> Send a message</a>
        <a href="#" class="btn btn-link"><i class="icon icon-mail"></i> Mailbox</a>
      </section>
    </header>
    <h1>User List</h1>
    <ul>
      {% for user in users: %}
      <li>
      ________________________________________<br>
      First name: {{user.firstname}} <br>
      Last name: {{user.lastname}} <br>
      e-mail: {{user.email}} <br>
      User's blacklist: {{user.black_list}}<br>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>