{% extends "base.html"%}
{%block content %}
    <h1>User List</h1>
    <ul>
      {% for user in users: %}
      <li>
      ________________________________________<br>
      First name: {{user.firstname}} <br>
      Last name: {{user.lastname}} <br>
      e-mail: {{user.email}} <br>
      {%if logged == True%}
      <button class="btn btn-link" id = "{{user.id}}" onclick = "addToBlacklist(id)">
        <label>Add to Blacklist</label>
        <i class="icon icon-stop"></i> 
      </button>
      {%endif%}
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
{%endblock%}
{%block script%}
<script>
  function addToBlacklist(id){
    fetch('/blacklist/'+id, {
      method: 'POST',
      redirect: 'follow'
    }).then(response => {
      if (response.redirected) {
        window.location.replace(response.url);
      }
    })
  }
</script>
{%endblock%}